diffusers==0.29.2
einops==0.7.0
gin-config==0.5.0
matplotlib==3.8.2
moviepy==2.1.2
numpy==1.26.4
onnx==1.15.0rc2
pandas==1.5.3
polars==1.20.0
pyarrow==14.0.1.dev0+gba5374836.d20240125
pytorch-lightning==2.5.0.post0
tensorboard==2.9.0
tensorboardX==2.6.2.2
tensorrt==8.6.1
timm==1.0.14
torcheval==0.0.7
transformers==4.48.1
wandb==0.19.4
